$background-color: #bfbfbf;

$site-color-black: #000000;

$site-color-white: white;

$site-color-button-success: #4CAF50;

$button-color-white: white;

$button-color-black: black;

$button-hover-color-black: black;